<%= form_tag(articles_path, method: :get) do %>
  <p><%= text_field_tag :term, params[:term], placeholder: "Enter a search term..." %></p>
  <p><%= submit_tag("Search") %></p>
<% end %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Text</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.title, article_path(article) %></td>
        <td><%= article.author %></td>
        <td><%= article.text.to_s[0..50] %><%= article.text.to_s.length > 50 ? "..." : "" %></td>
        <td><%= link_to "# edit", edit_article_path(article) %></td>
        <td><%= link_to "- delete", article_path(article), :method => :delete %></td>
      </tr>
    <% end %>
    <% if @articles.empty? %>
      <tr>
        <th colSpan="3">No articles.</th>
      </tr>
    <% end %>
  </tbody>
</table>
<p><%= link_to "+ add new", new_article_path %></p>